<div class="row justify-content-md-center">
  <div class="col-6">
    <div class="text-center mt-40">
      <h1>
        Checkout — Stripe Press
      </h1>
      <h5 id="item" data-id={{item}} class="text-secondary">
        {{title}}
      </h5>
      <hr class="mt-40">
      <div class="mt-20 text-info">
        Total due: $<span class="amount" data-amount="{{amount}}"></span>
      </div>
    </div>
    <div class="card box-shadow mt-40">
      <div class="card-body">
        <!-- Display a payment form -->
        <form id="payment-form">
          <div>
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="you@email.com">
          </div>
          <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
          </div>
          <button id="submit"> Pay $
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text" class="amount" data-amount="{{amount}}">
            </span>
          </button>
          <div id="payment-message" class="hidden"></div>
        </form>

      </div>
    </div>
  </div>
</div>